.hero_Committee {
    margin-bottom: 5%;
    background-color: white;
}

.heading_Committee {
    margin: 2%;
    text-align: center;
    color: rgb(94, 27, 156);
}


.Committee-Details{
    text-align: justify;
}

.Committee-container{
    margin: 5% 15%;
}

strong {
    font-size: 20px;
    margin-bottom: 40px;
    color: rgb(94, 27, 156);
}