.footer {
    position: absolute;
    width: 100%;
    padding: 0.5rem 0;
    background-color: #fff;
    color: black;
    padding-left: 2%;
}

p {
    text-decoration: none;
    color: black;
}

.footer h3 {
    color: var(--primary-light);
}

.footer .top, .bottom {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 78%;
    justify-content: space-between;
    align-items: center;
}

.footer .social {
    display: flex;
    justify-content: space-between;
    width: 280px;
    padding-right: 2%;
}

.footer .icon {
   color: var(--primary-light);
}

.footer .left, .right {
    display: flex;
    align-items: center;
    padding-right: 2%;
}

.footer ul {
    display: flex;
}

.footer li {
    padding: .5rem;
}

@media screen and (max-width: 1140px) {
    .footer ul {
        flex-direction: column;
    }
}
