.hero {
    width: 100%;
    color: #fff;
    position: relative;
}



.content h {
    font-size: 700%;
    font-weight: 700;
}


.content h2 {
    font-size: 300%;
}

.Logo {
    display: flex;
    justify-content: space-between;
}

.logo_conf {
    height: 170px;
    width: 170px;
    position: absolute;
    top: 3%;
    left: 7%;
}

.logo_springer {
    height: 170px;
    width: 270px;
    position: absolute;
    top: 3%;
    right: 7%;
}

.logo_iem {
    height: 170px;
    width: 170px;
    position: absolute;
    top: 35%;
    left: 18%;
}

.logo_uem {
    height: 170px;
    width: 170px;
    position: absolute;
    top: 35%;
    right: 18%;
}

.hero .content {
    position: absolute;
    top: 0;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

.about {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-top: 15px;
    padding-top: 5px;
    position: relative;
    color: black;
}

.aboutconf {
    position: relative;
    left: 100px;
    width: 50vw;
    justify-content: center;
    text-align: justify;
    color: black;
}

.h4_aboutconfig {
    text-align: center;
    margin-bottom: 15px;
}

.association {
    position: relative;
    padding: 5%;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    text-align: justify;
    color: black;
}

.h4_associate {
    text-align: center;
    margin-bottom: 15px;
}

.vertln {
    width: 2px;
    background-color: black;
    margin: 3px;
}

.news {
    text-align: center;
    position: relative;
    right: 50px;
    width: 32vw;
}

.news-mob {
    display: none;
}

.slider {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.missionconf {
    position: relative;
    padding: 5%;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    text-align: justify;
    color: white;
    background-image: url("../assets/outroimg.jpg");
}

@media screen and (max-width: 940px) {
    .hero .content {
        height: 40%;
    }

    .content h {
        font-size: 400%;
        font-weight: 700;
    }

    .content h2 {
        font-weight: 500;
    }
    .logo_conf{
        left: 1%;
        height: 120px;
        width: 120px;
    }
    .logo_springer {
        height: 120px;
        width: 120px;
        right: 1%;
    }
    .logo_iem {
        height: 120px;
        width: 120px;
        top: 31%;
        left: 1%;
    }
    .logo_uem {
        height: 120px;
        width: 120px;
        top: 31%;
        right: 1%;
    }
}

@media screen and (max-width: 1300px) {
    .hero .content {
        height: 40%;
    }
    .logo_springer {
        width: 170px;
    }
    .logo_iem {
        top: 31%;
        left: 8%;
    }
    .logo_uem {
        top: 31%;
        right: 8%;
    }
    .vertln {
        display: none;
    }

    .news {
        display: none;
    }

    .news-mob {
        display: block;
        margin-right: 5%;
        margin-left: 5%;
    }

    .aboutconf {
        width: 100%;
        right: 0px;
        left: 0px;
        margin-left: 3%;
        margin-right: 3%;
    }

}