.hero {
    width: 100%;
    position: relative;
}



.container {
    background-image: url("../assets/introimg.jpg");
}

.content h {
    font-size: 700%;
    font-weight: 700;
}


.content h2 {
    font-size: 300%;
}

.Logo {
    display: flex;
    justify-content: space-between;
}

.logo_conf {
    height: 15vh;
    width: 15vw;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    left: 7%;
}

.logo_springer {
    height: 15vh;
    width: 20vw;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    right: 7%;
}

.logo_iem {
    height: 15vh;
    width: 15vw;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    left: 18%;
}

.logo_uem {
    height: 15vh;
    width: 15vw;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    right: 18%;
}

.hero .content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 1rem;
    color: #f5f5f5;
}

.about {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-top: 15px;
    padding-top: 5px;
    position: relative;
    color: black;
}

.aboutconf {
    position: relative;
    left: 100px;
    width: 50vw;
    justify-content: center;
    text-align: justify;
    color: black;
}

.h4_aboutconfig {
    text-align: center;
    margin-bottom: 15px;
}

.association {
    position: relative;
    padding: 5%;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    text-align: justify;
    color: black;
}

.h4_associate {
    text-align: center;
    margin-bottom: 15px;
}

.vertln {
    width: 2px;
    background-color: black;
    margin: 3px;
}

.news {
    text-align: center;
    position: relative;
    right: 50px;
    width: 32vw;
}

.news-mob {
    display: none;
}

.slider {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.missionconf {
    position: relative;
    padding: 5%;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    text-align: justify;
    color: white;
    background-image: url("../assets/outroimg.jpg");
}

@media screen and (max-width: 940px) {

    .content h {
        font-size: 300%;
        font-weight: 700;
    }

    .content h2 {
        font-weight: 500;
        font-size: 150%;
    }
    .logo_conf {
        height: 10vh;
        
    }
    
    .logo_springer {
        height: 10vh;
        
    }
    
    .logo_iem {
        height: 10vh;
        
    }
    
    .logo_uem {
        height: 10vh;
        
    }

}

@media screen and (max-width: 1300px) {
    .vertln {
        display: none;
    }

    .news {
        display: none;
    }

    .news-mob {
        display: block;
        margin-right: 5%;
        margin-left: 5%;
    }

    .aboutconf {
        width: 100%;
        right: 0px;
        left: 0px;
        margin-left: 3%;
        margin-right: 3%;
    }

}