@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
  color: black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  height: 8vh;
  box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;
}

.logo {
  font-size: 35px;
  margin-left: 15px;
  margin-right: 20px;

}
.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
  width: 80%;
}

.nav-links li {
  color: black;
  font-size: 17.5px;
  padding: 5px 5px;
  margin: 0 5px;
  cursor: pointer;
  text-transform: capitalize;
}

.mobile-menu-icon {
  display: none;
}
button {
  border: none;
  text-decoration: none;
  font-size: 20px;
  background: none;
}
@media (max-width: 1150px) {
  
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    z-index: 2;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 8%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: #f3f3f3;
  }
  ul li {
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
  }
  .hero h1 {
    font-size: 50px;
  }
}