.hero_Speaker {
    margin-bottom: 5%;
}

.heading_Speaker {
    margin: 2%;
    text-align: center;
    color: rgb(94, 27, 156);
}

.role_Speaker {
    margin: 2%;
    text-align: center;
    color: rgb(100, 54, 143);
}

.container_speaker {
    display: flex;
    position: relative;
    justify-content: center;
}

.container_speaker4 {
    display: flex;
    position: relative;
    justify-content: center;
}

.pic_keynote {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 15px;
}

.pic_session {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
}

.profile {
    width: auto;
    height: 100%;
}

.placeholder {
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 1570px) {
    .container_speaker4 {
        flex-direction: column;
    }
}

@media screen and (max-width: 820px) {

    .container_speaker {
        flex-direction: column;
    }

    .pic_keynote {
        margin-left: 0px;
        margin-right: 0px;
    }

    .pic_session {
        margin-left: 0px;
        margin-right: 0px;
    }
}